{:deps
 {org.clojure/core.async {:mvn/version "0.4.474"}
  org.clojure/spec.alpha {:mvn/version "0.2.176"}
  org.clojure/clojure {:mvn/version "1.10.0-beta7"}
  }
 :paths ["src" "resources"]
 :ci {:extra-deps {com.cognitect/deps.build {:sha "28cc1cac133d777027f3e5a5ee7b1376bd9be14e"
                                             :git/url "git@cognitect.git.beanstalkapp.com:/cognitect/deps-build.git"}
                   com.datomic/deps.project {:sha "e9c38d9eeafdb863aa4d7ed259ef1dff03c3cc00"
                                             :git/url "git@cognitect.git.beanstalkapp.com:/cognitect/deps-project.git"}}}
 }
