{:deps
 {cljfmt/cljfmt {:mvn/version "0.8.0" :exclusions [org.clojure/clojurescript]}
  org.clojure/core.async {:mvn/version "1.5.648"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  io.github.clojure/data.alpha.replicant-client {:git/tag "v2023.04.20.01" :git/sha "bcabb7b"}
  org.openjfx/javafx-fxml     {:mvn/version "20.0.1"}
  org.openjfx/javafx-controls {:mvn/version "20.0.1"}
  org.openjfx/javafx-swing    {:mvn/version "20.0.1"}
  org.openjfx/javafx-base     {:mvn/version "20.0.1"}
  org.openjfx/javafx-web      {:mvn/version "20.0.1"}
  org.yaml/snakeyaml {:mvn/version "1.23"}}
 :paths ["src" "resources"]
 :aliases
 {:dev {:extra-deps {io.github.clojure/data.alpha.replicant-client {:local/root "../data.alpha.replicant-client"}}
        :extra-paths ["test"]}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
          :ns-default build}
 
  :morse {:exec-fn dev.nu.morse/morse}

  :quickdoc
  {:deps {org.babashka/cli {:mvn/version "0.4.36"}
          io.github.borkdude/quickdoc
          {:deps/root "jvm"
           :git/sha "c5320cbe311b651a60b47f4d00d7e8ab63291b6e"}}
   :main-opts ["-m" "babashka.cli.exec" "quickdoc.api" "quickdoc"]
   :exec-args {:github/repo "https://github.com/nubank/morse"
               :git/branch "main"
               :source-paths ["src/dev/nu/morse.clj"]}}
  }

 :tools/usage {:ns-default dev.nu.morse}
}
