html, body {
  height: 100%;
  margin: 0;
}

.parinfer-error {
  background: #FFBEBE;
  color: black !important;
}

.parinfer-paren-trail {
  opacity: 0.4;
}

.CodeMirror {
  font-family: Monaco, Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 14px;
  background: #FEFEFE;
  border: 1px solid #EEE;
  padding: 2px;
  box-sizing: border-box;
  height: 100%;
}
